<!DOCTYPE html>
<html>
<head>
    <title>Create Account</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<div class="card">
    <h2>🏦 Create Bank Account</h2>

    <form action="/create" method="post">
        <input type="text" name="name"
               placeholder="Account Holder Name" required>

        <input type="number" name="accNo"
               placeholder="Account Number" required>

        <button class="deposit">Create Account</button>
    </form>
</div>

</body>
</html>
